# 파이썬 키워드

In [3]:
import keyword

In [5]:
len(keyword.kwlist)

35

In [7]:
keyword.iskeyword('True')

True

# 조건문

In [12]:
size = 'M'

if size == 'S':
    length, width = 68.0, 52.0
elif size == 'M':
    length, width = 70.0, 54.5
else :
    length, width = 72.0, 57.0
    
print('길이 = ',length, '너비 = ',width)

길이 =  70.0 너비 =  54.5

In [13]:
%whos #객체 확인 할 수 있는 매직 명령어

Variable   Type      Data/Info
------------------------------
keyword    module    <module 'keyword' from 'C<...>conda3\\lib\\keyword.py'>
length     float     70.0
size       str       M
width      float     54.5

In [15]:
%xdel size

In [17]:
%whos

Variable   Type      Data/Info
------------------------------
keyword    module    <module 'keyword' from 'C<...>conda3\\lib\\keyword.py'>
length     float     70.0
width      float     54.5

In [18]:
%reset #다 지울수 있는 명령어

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [19]:
%whos

Interactive namespace is empty.

In [20]:
%%writefile tsize.py #파일 처리 가능한 명령어
if __name__ == '__main__' :
    size = 'M'

    if size == 'S':
        length, width = 68.0, 52.0
    elif size == 'M':
        length, width = 70.0, 54.5
    else :
        length, width = 72.0, 57.0

    print('길이 = ',length, '너비 = ',width)

Writing tsize.py

In [21]:
%run tsize #파일 실행 명령

길이 =  70.0 너비 =  54.5

# 반복문

In [24]:
n = 3
i = 2
while i < n:
    if n % i == 0:
        break
    i = i + 1
if i == n:    #2부터 (n-1)까지 나누어 떨어지는 i가 없음
    print('소수')
else:
    print('소수가 아님')

소수

In [26]:
my_list = [4,2,5,7,3] #list
sum = 0
for x in my_list:
    sum += x
print(sum)

21

In [28]:
for x in range(1, 10):
    print(x, end = ' ')

1 2 3 4 5 6 7 8 9

In [29]:
for x in range(1, 10, 2):
    print(x, end = ' ')

1 3 5 7 9

In [31]:
for x in range(2, 5):
    print(x, end = ' ')

2 3 4

In [33]:
for x in range(5):
    print(x, end = ' ')

0 1 2 3 4

In [35]:
for x in range(5):
    print('hello' , end = ' ')

hello hello hello hello hello

# 함수

In [37]:
def square(x):
    return x * x

In [38]:
square(3)

9

In [39]:
def abs(x):
    if x < 0:
        return -x
    else:
        return x

In [40]:
abs(5.6)
abs(-5.6)

5.6

In [41]:
def min_max(a, b):
    if a < b:
        return a, b
    else:
        return b, a

In [43]:
min, max = min_max(100, 200)
print('min = ',min, 'max = ',max)

min =  100 max =  200

In [2]:
def sum_to_n(n):
    """
    n까지의 자연수의 합을 반환하는 함수
    if n is not int TypeError
    if n is less than 0 ValueError
    """
    if type(n) is not int:
        raise TypeError('n은 정수여야 함')
    if n<0:
        raise ValueError('n은 0보다 커야함')
    sum = 0
    for i in range(n+1):
        sum += i
    return sum

In [3]:
sum_to_n(10)

55

In [5]:
sum_to_n(5)

15

In [7]:
sum_to_n(5)

15

In [8]:
sum_to_n??

In [81]:
def sum_f(a, f = lambda x : x):
    """
    squence a의 각 원소에 함수 f를 취한 값의 합
    lambda 함수는 정렬에 많이 사용됨
    parameter
    --------
    a : sequence
    f : function defualt : identity function
    --------
    """
    sum = 0
    for v in a:
        sum += f(v)
    return sum

In [74]:
def sq(x) : return x * x

In [75]:
my_list2 = [5,2,4]
sum_f(my_list2, sq)

45

In [76]:
import math

In [77]:
sum_f(my_list2, math.sqrt)

5.650281539872885

In [78]:
sum_f(my_list2, lambda x : x*x)

45

In [79]:
sum_f(my_list2, lambda x : x%2)

1

In [80]:
sum_f(my_list2)

11

In [85]:
s = ['tiger','giraffe', 'cat', 'dog']

In [83]:
s.sort()

In [86]:
s

['tiger', 'giraffe', 'cat', 'dog']

In [87]:
s.sort(key=lambda x : len(x))

In [88]:
s

['cat', 'dog', 'tiger', 'giraffe']

# 파이썬 자료구조

In [89]:
lst = [5,3,4,7,5,2.4,6,5,4]

In [90]:
type(lst)

list

In [91]:
lst.append(100)

In [92]:
lst

[5, 3, 4, 7, 5, 2.4, 6, 5, 4, 100]

In [93]:
lst.sort(reverse=True)

In [94]:
lst

[100, 7, 6, 5, 5, 5, 4, 4, 3, 2.4]

In [95]:
seq = [6,64,8,4,3]

In [96]:
seq[2:4]

[8, 4]

In [97]:
m = [[1,2,3], [6,7,8]]

In [98]:
m

[[1, 2, 3], [6, 7, 8]]

In [99]:
m[0][1]

2

In [100]:
m[0]

[1, 2, 3]

In [101]:
t = (4,5,6)

In [102]:
type(t)

tuple

In [103]:
a, b, c = t

In [116]:
a

4

In [117]:
lst = [5,2,8,9,6]

In [118]:
for i, x in enumerate(lst):
    print(i,x)

0 5
1 2
2 8
3 9
4 6

In [123]:
x = [2,4,6,9]
y=[100,200,300]

In [124]:
for a, b in zip(x,y):
    print(a,b)

2 100
4 200
6 300

In [125]:
d = {'한국':'서울','일본':'동경','중국':'북경'}

In [126]:
type(d)

dict

In [127]:
d['한국']

'서울'

In [128]:
d['프랑스'] = '파리'

In [129]:
d

{'한국': '서울', '일본': '동경', '중국': '북경', '프랑스': '파리'}

In [130]:
del d['일본']

In [131]:
d

{'한국': '서울', '중국': '북경', '프랑스': '파리'}

In [133]:
d.keys()

dict_keys(['한국', '중국', '프랑스'])

In [135]:
d.values()

dict_values(['서울', '북경', '파리'])

In [136]:
d.items()

dict_items([('한국', '서울'), ('중국', '북경'), ('프랑스', '파리')])

In [137]:
d['한국']='Seoul'

In [138]:
d

{'한국': 'Seoul', '중국': '북경', '프랑스': '파리'}

In [141]:
s1 = {1,2,3,3}

In [142]:
s1

{1, 2, 3}

In [143]:
s2={2,3,4}

In [144]:
s1.union(s2)

{1, 2, 3, 4}

In [148]:
s1.intersection(s2)

{2, 3}

In [151]:
x = [a for a in range(5) if a % 2 == 0]

In [152]:
x

[0, 2, 4]

In [156]:
strings = ['a','as','bat','car','dove','python']

In [157]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [158]:
def squares(n = 10):
    for i in range(1,n+1):
        yield i ** 2

In [159]:
squares(5)