# Pandas

In [1]:
import pandas as pd
import numpy as np

In [7]:
s1 = pd.Series([6,2,8,4], index=['a','b','d','c'])

In [4]:
type(s1)

pandas.core.series.Series

In [8]:
s1

a    6
b    2
d    8
c    4
dtype: int64

In [9]:
s2 = pd.Series(np.random.randint(1,7,10))

In [10]:
s2

0    6
1    5
2    6
3    4
4    1
5    4
6    1
7    3
8    2
9    6
dtype: int32

In [12]:
s2.value_counts()

6    3
1    2
4    2
2    1
3    1
5    1
dtype: int64

In [14]:
s2.value_counts().sort_index()

1    2
2    1
3    1
4    2
5    1
6    3
dtype: int64

In [15]:
s2.value_counts().sort_values()

2    1
3    1
5    1
1    2
4    2
6    3
dtype: int64

In [16]:
s2.value_counts().sort_values(ascending = False)

6    3
1    2
4    2
2    1
3    1
5    1
dtype: int64

In [20]:
np.random.seed(0)
scores = pd.DataFrame(np.random.randint(100, size=(5,2)),
                      index = [1,3,9,6,5], columns = ['mid','final'])

In [21]:
type(scores)

pandas.core.frame.DataFrame

In [22]:
print(scores)

   mid  final
1   44     47
3   64     67
9   67      9
6   83     21
5   36     87

In [23]:
scores.index

Int64Index([1, 3, 9, 6, 5], dtype='int64')

In [25]:
scores.values

array([[44, 47],
       [64, 67],
       [67,  9],
       [83, 21],
       [36, 87]])

In [26]:
scores.columns

Index(['mid', 'final'], dtype='object')

In [27]:
df = pd.read_csv('diabetes.csv')

In [28]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [31]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [32]:
df.tail(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
767,1,93,70,31,0,30.4,0.315,23,0

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [35]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [37]:
df['BMI']

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [38]:
df.BMI

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [39]:
type(df.BMI)

pandas.core.series.Series

In [40]:
df.values[7]

array([ 10.   , 115.   ,   0.   ,   0.   ,   0.   ,  35.3  ,   0.134,
        29.   ,   0.   ])

In [41]:
scores

   mid  final
1   44     47
3   64     67
9   67      9
6   83     21
5   36     87

In [42]:
scores.iloc[1,1]

67

In [44]:
scores.iloc[1:3,1:]

   final
3     67
9      9

In [47]:
scores.loc[:9,'mid':'final']

   mid  final
1   44     47
3   64     67
9   67      9

In [48]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [49]:
df[2:10:2]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1

In [50]:
df['Age2'] = df['Age']+10

In [51]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age2
0,6,148,72,35,0,33.6,0.627,50,1,60
1,1,85,66,29,0,26.6,0.351,31,0,41
2,8,183,64,0,0,23.3,0.672,32,1,42
3,1,89,66,23,94,28.1,0.167,21,0,31
4,0,137,40,35,168,43.1,2.288,33,1,43

In [52]:
del df['Age2']

In [55]:
df2 = df.drop('Outcome',axis=1) #열 삭제 명령어

In [54]:
df2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [62]:
df3 = df.iloc[:,4:6]

In [63]:
df3

     Insulin   BMI
0          0  33.6
1          0  26.6
2          0  23.3
3         94  28.1
4        168  43.1
..       ...   ...
763      180  32.9
764        0  36.8
765      112  26.2
766        0  30.1
767        0  30.4

[768 rows x 2 columns]

In [64]:
df4 = df.loc[:,'Insulin':'BMI']

In [65]:
df4

     Insulin   BMI
0          0  33.6
1          0  26.6
2          0  23.3
3         94  28.1
4        168  43.1
..       ...   ...
763      180  32.9
764        0  36.8
765      112  26.2
766        0  30.1
767        0  30.4

[768 rows x 2 columns]

In [66]:
df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [67]:
df.mean(axis=1)

0      38.469667
1      26.550111
2      34.663556
3      35.807444
4      51.043111
         ...
763    56.785667
764    31.682222
765    43.271667
766    29.494333
767    27.635000
Length: 768, dtype: float64

In [69]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [70]:
type(df.groupby('Outcome'))

pandas.core.groupby.generic.DataFrameGroupBy

In [71]:
df.groupby('Outcome')['BMI'].mean()

Outcome
0    30.304200
1    35.142537
Name: BMI, dtype: float64